<center>
<img src="../../img/ml_theme.png">
# Дополнительное профессиональное <br> образование НИУ ВШЭ
#### Программа "Практический анализ данных и машинное обучение"
<img src="../../img/faculty_logo.jpg" height="240" width="240">

Материал распространяется на условиях лицензии <a href="https://opensource.org/licenses/MS-RL">Ms-RL</a>. Можно использовать в любых целях, кроме коммерческих, но с обязательным упоминанием автора материала.
Автор материала: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center> Домашнее задание № 1
## <center> Анализ данных по сердечно-сосудистым заболеваниям
*Идеальный просмотр Jupyter notebooks возможен только локально, GitHub и nbviewer могут неправильно отбражать формулы или картинки.*

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным о сердечно-сосудистых заболеваниях (качать данные не надо, они уже есть в репозитории). Данные использовались в соревновании [Ml Boot Camp 5](http://mlbootcamp.ru/round/12/sandbox/).**

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://goo.gl/forms/7NZl1JxDAFWWVkiN2).**

В соревновании предлагалось определить наличие/отсутствие сердечно-сосудистых заболеваний (ССЗ) по результатам осмотра пациента.

**Описание данных.**

Объективные признаки:

 - Возраст (age)
 - Рост (height)
 - Вес (weight)
 - Пол (gender)
 

Результаты измерения:

 - Артериальное давление верхнее и нижнее (ap_hi, ap_lo)
 - Холестерин (cholesterol)
 - Глюкоза (gluc)
 

Субъективные признаки (со слов пациентов):

 - Курение (smoke)
 - Употребление алкоголя (alco)
 - Физическая активность (active)
 
Целевой признак (который интересно будет прогнозировать):
 - Наличие сердечно-сосудистых заболеваний по результатам классического врачебного осмотра (cardio)

Значения показателей холестерина и глюкозы представлены одним из трех классов: норма, выше нормы, значительно выше нормы. Значения субъективных признаков — бинарны.

Все показатели даны на момент осмотра.

Мы будем работать только с обучающей выборкой и с помощью `Pandas` проведем первичный анализ данных.

Из библиотек нам понадобятся только `NumPy` и `Pandas`.

In [1]:
import numpy as np
import pandas as pd

Считываем данные из CSV-файла в объект pandas DataFrame.

In [2]:
df = pd.read_csv('../../data/mlbootcamp5_train.csv', sep=';', 
                 index_col='id')

Посмотрим на первые 5 записей.

In [5]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

**<font color='red'>Вопрос 1 (1 балл).</font> Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" (какому полу соответствует 1, а какому – 2 в признаке ``gender``) – это определите, посмотрев также на рост при разумном предположении, что в среднем мужчины выше.**

**<font color='red'>Варианты:</font>**
- 45530 женщин и 24470 мужчин
- 45530 мужчин и 24470 женщин
- 45470 женщин и 24530 мужчин
- 45470 мужчин и 24530 женщин

In [20]:
# Ваш код здесь
m_h = df[df['gender']==2]['height'].mean()
f_h = df[df['gender']==1]['height'].mean()
print("Male mean height ", m_h)
print("Female mean height ", f_h)
a = df[df['gender']==2].count()
b = df[df['gender']==1].count()
print(a)
print(b)

Male mean height  169.94789538210054
Female mean height  161.35561168460356
age            24470
gender         24470
height         24470
weight         24470
ap_hi          24470
ap_lo          24470
cholesterol    24470
gluc           24470
smoke          24470
alco           24470
active         24470
cardio         24470
dtype: int64
age            45530
gender         45530
height         45530
weight         45530
ap_hi          45530
ap_lo          45530
cholesterol    45530
gluc           45530
smoke          45530
alco           45530
active         45530
cardio         45530
dtype: int64

**<font color='red'>Вопрос 2 (1 балл).</font> Кто в среднем чаще указывает, что употребляет алкоголь – мужчины или женщины?**

**<font color='red'>Варианты:</font>**
- мужчины 
- женщины

In [25]:
# Ваш код здесь
m_a = df[df['gender']==2]['alco'].mean()
f_a = df[df['gender']==1]['alco'].mean()
print("Males drink ", m_a)
print("Females drink ", f_a)

Males drink  0.10637515324887617
Females drink  0.02549967054689216

**<font color='red'>Вопрос 3 (1 балл).</font> Во сколько раз (округленно, `round`) процент курящих среди мужчин больше, чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?**

**<font color='red'>Варианты:</font>**
- 4
- 8
- 12
- 16

In [27]:
# Ваш код здесь
m_s = df[df['gender']==2]['smoke'].mean()
f_s = df[df['gender']==1]['smoke'].mean()
print("Males smoke ", m_s)
print("Females smoke ", f_s)
round(m_s/f_s)

Males smoke  0.21888026154474868
Females smoke  0.017856358444981332

12

**<font color='red'>Вопрос 4 (1 балл).</font> Вы наверняка заметили, что значения возраста какие-то странные. Догадайтесь, в чем здесь измеряется возраст, и ответьте, на сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих.**

**<font color='red'>Варианты:</font>**
- 5
- 10
- 15
- 20

In [32]:
# Ваш код здесь
s = df[df['smoke']==1]['age'].median()
ns = df[df['smoke']==0]['age'].median()
print("Smoker's age median ", s)
print("Nonsmoker's age median ", ns)
delta = s - ns
print("Age delta in months", round(delta/30))

Smoker's age median  19125.0
Nonsmoker's age median  19722.0
Age delta in months -20

**<font color='red'>Вопрос 5 (2 балла).</font> В [статье](https://ru.wikipedia.org/wiki/Сердечно-сосудистый_риск) на Википедии про сердечно-сосудистый риск показана шкала SCORE для расчёта риска смерти от сердечно-сосудистого заболевания в ближайшие 10 лет. Вот она:**
<img src='../../img/SCORE2007.png' width=70%>

Давайте посмотрим на правый верхний прямоугольник, отображающий сегмент курящих мужчин в возрасте от 60 до 64 лет включительно. (Неочевидно, но тут для возраста и давления цифры означают верхнюю границу, и она не включается).

Видим 9-ку в левом нижнем углу этого прямоугольника и 47 – в правом верхнем. То есть если при этом систолическое (т.е. верхнее) артериальное давление – меньше 120 мм рт.ст., а уровень холестерина – 4 ммоль/л, то риск ССЗ оценивается примерно в 5 раз ниже, чем если бы давление лежало в интервале [160, 180), а холестерина было бы 8 ммоль/л.

Давайте посчитаем аналогичное значение, но на наших данных. 

Уточнения:
- Посчитайте признак ``age_years`` – возраст в годах, округлив до целых (`round`). Для данного примера отберите курящих мужчин от 60 до 64 лет включительно
- Категории уровня холестрина на рисунке и в наших данных отличаются. Отображение значений на картинке в значения признака ``cholesterol`` следующее: 4 ммоль/л $\rightarrow$ 1, 5-7 ммоль/л $\rightarrow$ 2, 8 ммоль/л $\rightarrow$ 3.
- Интересуют 2 подвыборки курящих мужчин возраста от 60 до 64 лет: первая с верхним артериальным давлением меньше 120 мм рт.ст. и концентрацией холестерина – 4 ммоль/л, а вторая – с верхним артериальным давлением от 160 до 180 мм рт.ст. (не включая верхнюю границу) и концентрацией холестерина – 8 ммоль/л.

**Во сколько раз (округленно, `round`) отличаются доли больных людей в этих двух подвыборках? Посчитайте на наших данных.**

**<font color='red'>Варианты:</font>**
- 2
- 3
- 4
- 5

In [50]:
# Ваш код здесь
df['age_years'] = round(df['age']/365)
df[(df['gender']==2) & (df['smoke']==1) & (df['age_years'] >= 60) & (df['age_years'] <= 65)]['age_years'].head(10)

a = df[(df['gender']==2) & (df['smoke']==1) & (df['age_years'] >= 60) & (df['age_years'] <= 65) & (df['ap_hi'] < 120) & (df['cholesterol'] == 1)]['cardio'].mean()
b = df[(df['gender']==2) & (df['smoke']==1) & (df['age_years'] >= 60) & (df['age_years'] <= 65) & (df['ap_hi'] >= 160) & (df['ap_hi'] < 180) & (df['cholesterol'] == 3)]['cardio'].mean()
round(b/a)

3

**<font color='red'>Вопрос 6 (2 балла).</font> Постройте новый признак – BMI ([Body Mass Index](https://en.wikipedia.org/wiki/Body_mass_index)). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.**

**<font color='red'>Утверждения:</font>**
- Медианный BMI по выборке лежит в пределах нормы
- У женщин в среднем BMI выше, чем у мужчин
- У здоровых в среднем BMI выше, чем у больных
- В сегменте здоровых и непьющих мужчин BMI ближе к норме, чем в сегменте здоровых и непьющих женщин

In [65]:
# Ваш код здесь
df['bmi'] = df['weight'] / (df['height']/100)**2
m_b = df['bmi'].median()
print("Median bmi is more than normal ", m_b)

female_bmi = df[df['gender']==1]['bmi'].mean()
male_bmi = df[df['gender']==2]['bmi'].mean()
print("Male mean bmi ", male_bmi)
print("Mean bmi is higher for women ", female_bmi)

healthy = df[df['cardio']==0]['bmi'].mean()
unhealthy = df[df['cardio']==1]['bmi'].mean()
print("Healthy bmi ", healthy)
print("Unhealthy bmi ", unhealthy)

healthy_males = df[(df['gender']==2) & (df['cardio']==0) & (df['alco']==0)]['bmi'].mean()
healthy_females = df[(df['gender']==1) & (df['cardio']==0) & (df['alco']==0)]['bmi'].mean()
print("Healthy males ", healthy_males)
print("Healthy females ", healthy_females)

Median bmi is more than normal  26.374068120774975
Male mean bmi  26.754442357289474
Mean bmi is higher for women  27.98758344183312
Healthy bmi  26.54817520679475
Unhealthy bmi  28.566060627015435
Healthy males  25.872638075460173
Healthy females  26.845406594131518

**<font color='red'>Вопрос 7 (2 балла).</font> ** Можно заметить, что данные не особо-то чистые, много в них всякой "грязи" и неточностей. Еще лучше мы это увидим, когда обсудим визуализацию данных.

Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных)
- указанное нижнее значение артериального давления выше верхнего
- рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили (используйте `pd.Series.quantile`, если не знаете, что это такое – прочитайте)
- вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

Этот вовсе не вся чистка данных, которую можно было проделать, но пока остановимся на этом.

**Сколько процентов данных (округленно, `round`) мы выбросили?**

**<font color='red'>Варианты:</font>**
- 8
- 9
- 10
- 11

In [113]:
# Ваш код здесь
# df.loc[df['ap_hi'] <= df['ap_lo']]
# df[df['ap_hi'] <= df['ap_lo']]
df.loc[df['ap_hi'] <= df['ap_lo'], 'is_lo_hi_error'] = 1
a = df['is_lo_hi_error'].count() # 1236 rows with wrong lo/hi

df.describe()

lo_h = df['height'].quantile(0.025)
hi_h = df['height'].quantile(0.975)
print(lo_h, hi_h)

df.loc[(df['height'] < lo_h) | (df['height'] > hi_h), 'is_height_error'] = 1
b = df['is_height_error'].count() # 2976 rows

df.loc[(df['weight'] < df['weight'].quantile(0.025)) | (df['weight'] > df['weight'].quantile(0.975)), 'is_weight_error'] = 1
c = df['is_weight_error'].count() # 3103 rows

total = 70000
d = round((a+b+c)*100/total)
print(d)

150.0 180.0
10.0